<div class="parent">
  <div class="section yellow" >
    <form>
      <label for="id">ID</label>
      <br>
      <input type="text" name="id" id="id" [(ngModel)]="currentStudent.id">
      <br>
      <label for="name">Name</label>
      <br>
      <input type="text" name="name" id="name" [(ngModel)]="currentStudent.name">
      <br>
      <label for="dob">Day of Birth</label>
      <br>
      <input type="date" name="dob" id="dob" [(ngModel)]="currentStudent.dob">
      <br>
      <label for="email">Email</label>
      <br>
      <input type="text" name="email" id="email" [(ngModel)]="currentStudent.email">
      <br>
      <label for="code">Code location</label>
      <br>
      <input type="text" name="code" id="code" [(ngModel)]="currentStudent.phone.code">
      <br>
      <label for="number">Phone number</label>
      <br>
      <input type="text" name="number" id="number" [(ngModel)]="currentStudent.phone.number">
      <br>
      <button (click)="addNewStu()">Add Student</button>
    </form>
  </div>
  <div class="section purple" >
    <div *ngFor="let student of students$ | async ">
      {{student.id}} - {{student.name}}
    </div>


    <!-- <div *ngFor="let student of res.students ">
      {{student.id}} - {{student.name}}
    </div> -->
  </div>
</div>
